deployments/mqtt/volumes/nodered/data/flows.json
[
    {
        "id": "15fb8071.515bd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abf264cb.73b0d",
        "type": "inject",
        "z": "15fb8071.515bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/1",
        "payload": "hello world",
        "payloadType": "str",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "802d2ad8.7fb92"
            ]
        ]
    },
    {
        "id": "f89e79fc.b63798",
        "type": "mqtt in",
        "z": "15fb8071.515bd",
        "name": "",
        "topic": "sensor/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "aec2085d.fe3fc",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "7769be86.28579"
            ]
        ]
    },
    {
        "id": "802d2ad8.7fb92",
        "type": "mqtt out",
        "z": "15fb8071.515bd",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "edf8c0f1.1cb81",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "7769be86.28579",
        "type": "debug",
        "z": "15fb8071.515bd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "97be1f67.c35178",
        "type": "inject",
        "z": "15fb8071.515bd",
        "name": "door-sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/door",
        "payload": "true",
        "payloadType": "bool",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "802d2ad8.7fb92"
            ]
        ]
    },
    {
        "id": "3531c066.05e35",
        "type": "inject",
        "z": "15fb8071.515bd",
        "name": "temp-sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/temperature",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "802d2ad8.7fb92"
            ]
        ]
    },
    {
        "id": "aec2085d.fe3fc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "edf8c0f1.1cb81",
        "type": "mqtt-broker",
        "z": "",
        "name": "tyk-gateway",
        "broker": "tyk-gateway",
        "port": "8086",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]